<!DOCTYPE html>
<html lang="en">
<style>
    nav {
        width: 30%;
        height: 30px; 
        background-color: DodgerBlue;
        padding: 20px;
        display: inline-block;
      }

      table, th, td {
        border: 1px solid;
      }
    </style>

    <nav>
        <ul>
          <li><a href="/">Go back</a></li> 
          <li><a href="/submit">Registered Students</a></li>
        </ul>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>